---
import { cn } from "../../lib/utils";
---

<table
  class={cn(
    "middle-table path bg-gray-700",
    "[&_td]:border [&_td]:border-black [&_td]:relative",
    "[&_td]:w-[36px] [&_td]:h-[36px] [&_td]:sm:w-[38px] [&_td]:sm:h-[38px] [&_td]:md:w-[40px] [&_td]:md:h-[40px] [&_td]:lg:w-[42px] [&_td]:lg:h-[42px]",
    "[&_img]:w-[22px] [&_img]:sm:w-[24px] [&_img]:md:w-[26px] [&_img]:lg:w-[28px]",
    "[&_img]:mx-auto [&_img]:relative [&_img]:z-20 [&_img]:drop-shadow-[0_1px_2px_rgba(0,0,0,0.5)]",
    "border-collapse m-0 p-0",
  )}
>
  <tr>
    <td class="r19 b6 y32 g45"
      ><span
        class="text-[10px] text-white flex items-center justify-center h-full absolute inset-0 z-0 pointer-events-none"
        >bipy</span
      ></td
    >
    <td
      class="r20 b7 y33 g46"
      style="background: #10b981 url('/complexes/fate_card.png') center/cover no-repeat !important;"
    ></td>
    <td class="r21 b8 y34 g47"
      ><span
        class="text-[10px] text-white flex items-center justify-center h-full absolute inset-0 z-0 pointer-events-none"
        >H₂O</span
      ></td
    >
    <td
      class="r22 b9 y35 g48"
      style="background: #10b981 url('/complexes/9.png') center/cover no-repeat !important;"
    ></td>
    <td class="r23 b10 y36 g49"
      ><span
        class="text-[10px] text-white flex items-center justify-center h-full absolute inset-0 z-0 pointer-events-none"
        >acac</span
      ></td
    >
  </tr>
  <tr class="middle-row-green">
    <td class="g56 bg-green-300"></td>
    <td class="g55 bg-green-300"></td>
    <td class="g54 bg-green-300"></td>
    <td class="g53 bg-green-300"></td>
    <td class="g52 bg-green-300"></td>
  </tr>
  <tr>
    <td
      class="r31 b18 y44 g5"
      style="background: #10b981 url('/complexes/10.png') center/cover no-repeat !important;"
    ></td>
    <td
      class="r30 b17 y43 g4"
      style="background: #10b981 url('/complexes/fate_card.png') center/cover no-repeat !important;"
    ></td>
    <td class="r29 b16 y42 g3"
      ><span
        class="text-[10px] text-white flex items-center justify-center h-full absolute inset-0 z-0 pointer-events-none"
        >CO₃²⁻</span
      ></td
    >
    <td class="r28 b15 y41 g2"
      ><span
        class="text-[10px] text-white flex items-center justify-center h-full absolute inset-0 z-0 pointer-events-none"
        >phen</span
      ></td
    >
    <td class="r27 b14 y40 g1 bg-green-300"></td>
  </tr>
</table>
