<div class="w-[90px] h-[90px] bg-[url('/ludo-home.jpg')] bg-contain [&_img]:w-[12px] [&_img]:mx-auto">
  <table id="win">
    <tr>
      <td></td>
      <td class="b57 w-[30px] h-[30px]"></td>
      <td></td>
    </tr>
    <tr>
      <td class="r57 w-[30px] h-[30px]"></td>
      <td></td>
      <td class="g57 w-[30px] h-[30px]"></td>
    </tr>
    <tr>
      <td></td>
      <td class="y57 w-[30px] h-[30px]"></td>
      <td></td>
    </tr>
  </table>
</div>
